.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
        .login-form {
            max-width: 300px;
            .login-form-button {
                width: 100%;
            }
            .ant-form-item-control-input-content {
                line-height: 32px;
            }
        }
}