html, 
body, 
#root,
.ant-layout {
  height: 100%;
}

.ant-layout {
  .ant-layout-sider-children {
    overflow-y: auto;
  }
}

/* 清浮动 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display:block;
}